<div>
    <header>
        <img src="../../../assets/eufoto.jpg" alt="minha foto">
        <h2>Kelve Nunes</h2>
    </header>
    <section>
        <h5>Especialização</h5>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </section>
    <footer>
        <ul>
            <li>
               <button>Linkedn</button>
            </li>
            <li>
                <button>Email</button>
            </li>
            <li>
                <button>GitHub</button>
            </li>
        </ul>
    </footer>
</div>